@media (min-width:768px) {

    /* header value inherit from min width 576px  */
    .homepage .home-flex {
        display: flex;
        flex-direction: row;
    }

    .homepage .home-flex .leftInfo {
        padding: 30px;
    }

    .homepage .homepage-p {
        padding: 90px 20px;
    }

    /* .AboutRestro .flexbox {
        display: flex;
        flex-direction: column;
        gap: 60px;
    } => inherit from min width 576px */
}