@media (min-width:992px) {
    header .navbar .nav {
        display: block;
    }

    header .navbar .search form {
        display: block;
    }

    header .navbar .search .togglebtn {
        display: none;
    }

    .homepage .homepage-p {
        padding: 160px 65px;
    }

    .AboutRestro .flexbox {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}